akshare==1.15.61
alembic==1.14.0
bcolz_zipline==1.2.12
Bottleneck==1.4.2
click==8.0.3
continuous_futures==0.0.2
Cython==3.0.11
dask==2025.1.0
empyrical_reloaded==0.5.11
exchange_calendars==4.6
filelock==3.17.0
h5py==3.12.1
intervaltree==3.1.0
ipython==8.12.3
ipython==7.31.1
ipywidgets==8.1.5
iso3166==2.1.1
iso4217==1.12.20240625
line_profiler==4.2.0
line_profiler==2.1
loguru==0.7.3
lru_dict==1.3.0
matplotlib==3.5.1
multipledispatch==1.0.0
networkx==3.4.2
numexpr==2.10.2
numpy==1.21.5
packaging==21.3
pandarallel==1.6.5
pandas==2.2.3
pandas_datareader==0.10.0
polars==1.21.0
Pygments==2.11.2
PySnooper==1.2.1
pytest==8.3.4
python_dateutil==2.9.0.post0
python_dateutil==2.8.1
python_interface==1.6.1
pytz==2022.1
Requests==2.32.3
responses==0.25.6
scipy==1.8.0
SQLAlchemy==2.0.37
SQLAlchemy==2.0.36
testfixtures==8.3.0
toolz==1.0.0
tzlocal==5.2
vaex==4.17.0
vaex_astro==0.9.3
vaex_core==4.17.1
vaex_hdf5==0.14.1
vaex_jupyter==0.8.2
vaex_ml==0.18.3
vaex_server==0.9.0
vaex_viz==0.5.4
